@import "../../css-config/mixins.scss";

.recipe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-direction: column;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 400px;
    margin: 20px;
  
    .img-sec {
      width: 100%;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
  
    .content {
      padding: 2px;
      text-align: center;
      
      @include lg{
        padding:20px;
      }
      h1 {
        font-size: 24px;
        margin-bottom: 10px;
      }
  
      .category,
      .area {
        font-size: 18px;
        margin-bottom: 5px;
  
        span {
          font-weight: bold;
        }
      }
  
      .instructions{
        font-size: 18px;
        margin: 10px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(123, 255, 47);
  
        svg {
          margin-right: 5px;
          color: rgb(123, 255, 47);
        }
      }
      .ingredients {
        font-size: 18px;
        margin: 10px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: Red;
  
        svg {
          margin-right: 5px;
          color: red;
        }
      }
      @include lg{
        padding:20px;
      }
    }
  }
  
  .modal {
    background-color:white;
    font-size: 18px;
    max-width: 400px;
    display: flex;
    justify-content: center ;
    margin: 5em auto;
    align-items: center;
    padding: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    color: slategray;
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .topic {
        font-size: 20px;
        font-weight: 700;
        color: var(black);
      }
  
      .close {
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: rgb(169, 200, 253);
        cursor: pointer
      }
    }
  
    .body {
      span {
        display: block;
        margin-bottom: 5px;
      }
    }
  }
  