@import "../../css-config/variables.scss";

@import "../../css-config/mixins.scss";

.header-nav{
    @include flex(space-between, center);
    position: static;
    padding: 0px 0px;
    color: white;
    background-color: $footer-bg;
    display: flex;
    position: fixed;
    width: 100%;
    z-index:99999;
    // gap: 200px ;
    @include lg {
        padding: 27px 90px;
        color: white;
    }
};