@import "../../../css-config/mixins.scss";

.search{
    .icons {
        display: flex; /* Enable flexbox for easy spacing */
        justify-content: space-between; /* Distribute icons evenly */
      
        .icon { /* Target both icons using a class */
          margin: 0 20px; /* Add horizontal margin (adjust as needed) */
        }
      }
    
}