@import "../../css-config/mixins.scss";


.error {
  color: red;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.loading-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.recipecard-api {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.not-found {
  font-size: 18px;
  color: #ff0000;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
