@import "../../css-config/mixins.scss";


.AppImage{
 
    display: flex;
    justify-content: center;
    align-items: center; 
}
 .img{
    border-radius: 15px;
    position: relative;
    height: 200px;
    width:fit-content;
    margin: 50px;

    @include sm {
        height: 350px;
        width:max-content;
        }

    @include lg {
        height: 400px;
        width:max-content;

        }

    @include xl {
    height: 480px;
    width:max-content;

    }

   
 }

