@import "../../css-config/mixins.scss";

.banner{
 display: flex;
 flex-direction: column;
 justify-content:space-around;
 align-items: center;
 position: relative;
 margin-bottom: 20px;
  
 @include lg{
    display: flex;
    flex-direction: row;
    height:max-content;
    padding-top: 40px;

 }

 @include sm{

 }
@include md{

}

}

.banner-img{
    width: max-content;
    height: 200px;
    border-radius:13px ;

    @include sm {
        height: 350px;
        width:max-content;
        }

    @include lg {
        height: 400px;
        width:max-content;

        }

    @include xl {
    height: 480px;
    width:max-content;

    }
}

h1,
p{  padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 3px;
    top: 10%;
    left: 50%;

    @include md {
        padding-top: 8px;
        padding-left: 8px;
        top: 50%;
        left: 50%;
    }
    @include lg {
        padding-top: 8px;
        top: 50%;
        left: 50%;
    }
}

h1{
    line-height: 35px;

    @include xl
}